*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    background: rebeccapurple;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}
.popup-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    
    justify-content: center; 
    align-items: center;
    display: none;
}
.popup-container.active{
    display: flex;
}

.popup{
    position: relative;
    width: 500px;
    background: white;
    /* border: 1px solid grey; */
    border-radius: 4px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.popup button{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rebeccapurple;
    background: white;
    font-size: 2rem;
    /* border: 1px solid grey; */
}
.popup h1{
    margin-top: 2rem;
}