*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rebeccapurple;
    color: aliceblue;
    font-size: 22px;
    text-align: center;
}