*{
    box-sizing: border-box;
}
body{
    /* margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-image: url('bg-desktop.svg'); */
    /* background-position: center; */
    /* background-size: cover; */
    background-color: hsl(257, 53%, 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}
button{
    padding: 1.2rem;
    background: rebeccapurple;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s linear;
}

button:active{
    transform: translate(2px, 2px);
    box-shadow: 0 !important;
}
